/* .box {
  background-color: green;
} */

.linkList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.link {
  flex-basis: 25%;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.link a {
  text-decoration: none;
  color: #808080;
}

.link a:hover {
  border-bottom: 1px solid grey;
}
